<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manu.pleasework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SelectionScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChatRoom" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".LoginStudent" />
        <activity android:name=".RegisterStudent" />
        <activity android:name=".MainActivityStudent" />
        <activity android:name=".AskStudent" />
        <activity android:name=".SendFiles"></activity>
    </application>

</manifest>